<!--Banner Contact -->
<section class="section overflow-hidden section-no-break">
    <div class="container">
        <div class="hero-caption hero-caption-1">
            <h3 class="position-absolute start-0 top-0 z--1 opacity-01 fs-large" data-aos="flip-down" data-aos-delay="300">
                CONTACT
            </h3>
            <h2 data-aos="fade-left">Contact <span class="font-italic fst-italic">Now</span></h2>
            <p class="sub-heading opacity-75 w-767-100 w-50" data-aos="fade-left" data-aos-delay="50">Let's make something fun together.</p>
        </div>
        <div class="row gx-4 gx-lg-5 d-flex justify-content-between flex-column-reverse flex-lg-row align-items-end">
            <div class="col-12 col-lg-6 mt-5 h-100">
                <form class="form-style-1" action="https://formspree.io/f/xwpozklq" method="POST">
                    <input type="text" class="form-control mb-4 " id="fa-name" name="name" placeholder="Full Name" required>
                    <input type="email" class="form-control mb-4 " id="fa-email" name="email" placeholder="Email" required>
                    <textarea class="form-control mb-4" rows="6" cols="100" id="fa-message" name="message" placeholder="Message" required></textarea>
                    <div class="text-end">
                        <button class="btn btn-primary btn-icon mt-2" type="submit">Send Message</button>
                    </div>
                </form>
            </div>
            <div class="col-12 col-lg-5 mt-5 mb-5">
                <div class="clearfix" data-aos="fade-left" data-aos-delay="50">
                    <!--Section Testimonials -->
                    <div class="position-relative z-index-1">
                        <div class="hero-slider">
                            <div class="swiper-container overflow-hidden" data-slide='{
                                "slidesPerView": 1,
                                "speed": 800,
                                "autoplay": {"delay": 20000},
                                "loop": false,
                                "autoHeight": true,
                                "lazy": true,
                                "spaceBetween": 0,
                                "navigation": {"nextEl": ".cs-swiper-button-next3", "prevEl": ".cs-swiper-button-prev3"},
                                "pagination": {"el": ".swiper-pagination", "clickable": true, "type": "fraction"}
                            }'>
                                <div class="swiper-wrapper">

                                    <div class="swiper-slide ">
                                        <div class="d-flex align-items-center mb-3 text-body-secondary">
                                            <div class="star-rating d-flex align-items-center fs-18">
                                                <i class="me-2 bi bi-star-fill text-primary"></i>
                                                <i class="me-2 bi bi-star-fill text-primary"></i>
                                                <i class="me-2 bi bi-star-fill text-primary"></i>
                                                <i class="me-2 bi bi-star-fill text-primary"></i>
                                                <i class="me-2 bi bi-star-fill text-primary"></i>
                                            </div>
                                        </div>
                                        <p class="mb-4 fw-normal text-body-secondary fs-20">
                                            Working with Libin was an absolute pleasure! She brought our vision to life with precision and creativity. We couldn't be happier with the results!
                                        </p>
                                        <p class="d-flex align-items-center flex-wrap">
                                            <span class="fw-semibold ">Jasper Stone</span>
                                            <span class="mx-2 border-1 border border-end py-2 text-body-secondary"></span>
                                            <span class="ms-1 text-body-secondary">Web Developer</span>
                                        </p>
                                    </div>

                                    <div class="swiper-slide ">
                                        <div class="d-flex align-items-center mb-3 text-body-secondary">
                                            <div class="star-rating d-flex align-items-center fs-18">
                                                <i class="me-2 bi bi-star-fill text-primary"></i>
                                                <i class="me-2 bi bi-star-fill text-primary"></i>
                                                <i class="me-2 bi bi-star-fill text-primary"></i>
                                                <i class="me-2 bi bi-star-fill text-primary"></i>
                                                <i class="me-2 bi bi-star-fill text-primary"></i>
                                            </div>
                                        </div>
                                        <p class="mb-4 fw-normal text-body-secondary fs-20">
                                            From start to finish, Libin provided exceptional design services. Their attention to detail and commitment to understanding our brand made all the difference.
                                        </p>
                                        <p class="d-flex align-items-center flex-wrap">
                                            <span class="fw-semibold ">Luna Evergreen</span>
                                            <span class="mx-2 border-1 border border-end py-2 text-body-secondary"></span>
                                            <span class="ms-1 text-body-secondary">Product Designer</span>
                                        </p>
                                    </div>

                                </div>
                                <div class="hero-action-1 mt-4 mt-lg-5">
                                    <div class="d-flex align-items-center">
                                        <!-- next / prev arrows -->
                                        <div class="cs-swiper-button cs-swiper-button-prev cs-swiper-button-prev3">
                                            <i class="bi bi-arrow-left fs-18 lh-0 "></i>
                                        </div>
                                        <!-- pagination dots -->
                                        <div class="swiper-pagination "></div>
                                        <!-- end pagination dots -->
                                        <div class="cs-swiper-button cs-swiper-button-next cs-swiper-button-next3">
                                            <i class="bi bi-arrow-right fs-18 lh-0 "></i>
                                        </div>
                                        <!-- !next / prev arrows -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Banner Contact -->

