<!-- Start footer include -->
<!--Back to top -->
<a href="#" aria-label="Back to top" class="js-back-to-top back-to-top d-flex flex-column align-items-center">
    <i class="bi bi-arrow-up mb-2 text-center"></i>
</a>
<!--End Back to top -->
<!--Settings -->
<div class="fixed-top shadow-sm" data-aos="fade-left" data-aos-duration="1500" data-aos-easing="ease">
    <div class="settings" role="group" aria-label="Basic outlined example">
        <div class="settings-action">
            <div class="js-settings cursor-pointer bg-body">
                <span class="icon-light" data-bs-theme-value="light">
                     <i class="bi bi-sun"></i>
                </span>
                <span class="icon-dark" data-bs-theme-value="dark">
                     <i class="bi bi-moon"></i>
                </span>
            </div>
        </div>
    </div>
</div>
<!--End Settings -->
<!-- End footer include -->

