<!-- Required meta tags -->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
<link rel="shortcut icon" type="image/x-icon" href="static/picture/favicon.png">
<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="static/css/css2.css" rel="stylesheet">
<!-- CSS -->
<link rel="stylesheet" href="static/css/swiper-bundle.min.css">
<link rel="stylesheet" href="static/css/photoswipe.css">
<link rel="stylesheet" href="static/css/card.css">
<link rel="stylesheet" href="static/css/aos.css">
<link rel="stylesheet" href="static/css/bootstrap-icons.min.css">
<link rel="stylesheet" href="static/css/bootstrap.css">
<link rel="stylesheet" href="static/css/main.css">
<title>Libin Fan | Portfolio</title>

