<!-- Section Portfolio -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-5">
                <div class="sticky-top top-100px">
                    <div class="d-flex align-items-center justify-content-between flex-wrap overflow-hidden">
                        <div class="hero-caption hero-caption-1">
                            <h3 class="position-absolute start-0 top-0 z--1 opacity-01 fs-large" data-aos="flip-down" data-aos-delay="300">
                                PORTFOLIO
                            </h3>
                            <h2 data-aos="fade-left">Selected <span class="font-italic fst-italic">Work</span></h2>
                            <p class="sub-heading opacity-75" data-aos="fade-left" data-aos-delay="50">I use design research
                                to learn about people, clarify problems, and built a strategy: what we should do, and why.</p>
                        </div>
                        <a class="btn btn-icon btn-link mt-3 mb-5" href="portfolio.html">View All</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-7">
                <div class="sticky-top top-100px">
                    <div class="row row-cols-1 mb-5">

                        <div class="col d-flex justify-content-center hover-scale">
                            <div class="mb-5 content-inner-wrap overflow-hidden">
                                <div class="position-relative content-inner">
                                    <a href="bioby.html" class="stretched-link"><span class="d-none">link</span></a>
                                    <div class="overflow-hidden shadow-sm">
                                        <img alt="img" src="static/picture/bioby.png" class="img-fluid">
                                    </div>
                                    <div class="clearfix mt-3">
                                        <h6 class="mb-1 fs-18"><a href="bioby.html">Bioby Brand Identity & Web Development</a></h6>
                                        <p class="mb-0 small opacity-75">A Startup Project</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col d-flex justify-content-center hover-scale">
                            <div class="mb-5 content-inner-wrap overflow-hidden">
                                <div class="position-relative content-inner">
                                    <a href="portfolio-details.html" class="stretched-link"><span class="d-none">link</span></a>
                                    <div class="overflow-hidden shadow-sm">
                                        <img alt="img" src="static/picture/mango try present.png" class="img-fluid">
                                    </div>
                                    <div class="clearfix mt-3">
                                        <h6 class="mb-1 fs-18"><a href="portfolio-details.html">Mango Try</a></h6>
                                        <p class="mb-0 small opacity-75">E-Commerce App Design</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col d-flex justify-content-center hover-scale">
                            <div class="mb-5 content-inner-wrap overflow-hidden">
                                <div class="position-relative content-inner">
                                    <a href="portfolio-details.html" class="stretched-link"><span class="d-none">link</span></a>
                                    <div class="overflow-hidden shadow-sm">
                                        <img alt="img" src="static/picture/pet shop.png" class="img-fluid">
                                    </div>
                                    <div class="clearfix mt-3">
                                        <h6 class="mb-1 fs-18"><a href="portfolio-details.html">Online Pet Shop</a></h6>
                                        <p class="mb-0 small opacity-75">Website</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col d-flex justify-content-center hover-scale">
                            <div class="mb-5 content-inner-wrap overflow-hidden">
                                <div class="position-relative content-inner">
                                    <a href="portfolio-details.html" class="stretched-link"><span class="d-none">link</span></a>
                                    <div class="overflow-hidden shadow-sm">
                                        <img alt="img" src="static/picture/online_learning.png" class="img-fluid">
                                    </div>
                                    <div class="clearfix mt-3">
                                        <h6 class="mb-1 fs-18"><a href="portfolio-details.html">Online Learning Platform</a></h6>
                                        <p class="mb-0 small opacity-75">Usability Testing</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col d-flex justify-content-center hover-scale">
                            <div class="mb-5 content-inner-wrap overflow-hidden">
                                <div class="position-relative content-inner">
                                    <a href="portfolio-details.html" class="stretched-link"><span class="d-none">link</span></a>
                                    <div class="overflow-hidden shadow-sm">
                                        <img alt="img" src="static/picture/asian_student.png" class="img-fluid">
                                    </div>
                                    <div class="clearfix mt-3">
                                        <h6 class="mb-1 fs-18"><a href="portfolio-details.html">Campus Exprience</a></h6>
                                        <p class="mb-0 small opacity-75">Mixed Method Research</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col d-flex justify-content-center hover-scale">
                            <div class="mb-5 content-inner-wrap overflow-hidden">
                                <div class="position-relative content-inner">
                                    <a href="portfolio-details.html" class="stretched-link"><span class="d-none">link</span></a>
                                    <div class="overflow-hidden shadow-sm">
                                        <img alt="img" src="static/picture/onebusmochup.png" class="img-fluid">
                                    </div>
                                    <div class="clearfix mt-3">
                                        <h6 class="mb-1 fs-18"><a href="portfolio-details.html">One Bus Project</a></h6>
                                        <p class="mb-0 small opacity-75">UX Design</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Section Portfolio -->

