<div class="widget mb-5 mb-lg-7">
    <div class="hero-caption hero-caption-2">
        <h2 class="h4 text-uppercase">Projects</h2>
    </div>
    <div class="mt-4 border bg-body-tertiary rounded-4 p-3">
        <p class="fs-14 mb-1">Creator Campaign Management System (CMS) | Bioby.ai</p>
        <h3 class="h6 mb-2">Product Lead & Technical PM</h3>
        <p class="opacity-75 mb-0">• Engineered a specialized "Campaign Workflow Engine" based on real-world execution experience, creating distinct approval stages for Script, Demo Video, and Final Cut to ensure strict QC before publishing.<br>
        • Optimized the "Pitch-to-Pay" lifecycle by integrating a visual timeline that synchronizes Agency requirements with Creator schedules, reducing communication overhead by 30% and ensuring on-time delivery of marketing assets.</p>
    </div>
</div>
