<!-- javascript libraries -->
<script src="static/js/jquery.min.js"></script>
<script src="static/js/dark-mode.js"></script>
<script src="static/js/imagesloaded.pkgd.min.js"></script>
<script src="static/js/swiper-bundle.min.js"></script>
<script src="static/js/form-validation.js"></script>
<script src="static/js/card.js"></script>
<script src="static/js/bootstrap.bundle.min.js"></script>
<script src="static/js/aos.js"></script>
<script src="static/js/typed.umd.js"></script>
<script src="static/js/custom.js"></script>
<!-- end javascript libraries -->

