<div class="col-sidebar bg-body-tertiary px-2 py-0 p-sm-3 text-center have-mockup-1" data-aos="fade-right">
    <!-- Start Header -->
    <div class="d-flex justify-content-between align-items-center d-sm-none">
        <div class="d-inline-block py-2">
            <div class="hamburger-menu style-bg" data-toggle="modal" data-bs-toggle="offcanvas" data-bs-target="#MenuCanvas" aria-controls="MenuCanvas">
                <div class="hamburger-inner">
                    <span></span>
                </div>
            </div>
        </div>
        <div class="d-inline-block" data-aos="fade-left" data-aos-delay="50">
            <a class="btn btn-icon btn-primary btn-sm" href="index.html">BACK TO HOME</a>
        </div>
    </div>
    <div class="offcanvas offcanvas-viewdesktop offcanvas-menu offcanvas-start border-0 mx-auto" tabindex="-1" id="MenuCanvas" aria-labelledby="MenuCanvas">
        <div class="offcanvas-header border-bottom">
            <!--Heading-->
            <div class="w-50">
                <div class="dark-v">
                    <!--Brand-->
                    <a aria-label="link" class="navbar-brand d-inline-block m-0" href="index.html">
                        <img alt="img" src="static/picture/logo.png" loading="lazy" class="img-fluid ">
                    </a>
                </div>
                <div class="light-v">
                    <a aria-label="link" class="navbar-brand d-inline-block m-0" href="index.html">
                        <img alt="img" src="static/picture/logo-white.png" loading="lazy" class="img-fluid ">
                    </a>
                </div>
            </div>
            <!--Button Close-->
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="navbar-nav-canvas">
                <!-- Start navigation -->
                <div class="border-bottom pb-4 mb-4">
                    <div class="avatar mb-2 px-5">
                        <div class="rounded-circle overflow-hidden bg-body-tertiary">
                            <a href="index.html">
                                <img src="static/picture/avatar.png" alt="img" class="img-fluid">
                            </a>
                        </div>
                    </div>
                    <div class="mt-2">
                        <h5 class="mb-0 fw-bold">Libin Fan</h5>
                        <p class="opacity-75 fs-12">Product Design & Build @ Martech</p>
                    </div>
                    <!--Socials-->
                    <ul class="list-inline list-inline-circle mb-0 d-flex align-items-center justify-content-center">
                        <li class="list-inline-item mx-1 w-auto fs-12"><a aria-label="link" href="https://www.linkedin.com/in/libfan/"><i class="list-inline-social-icon bi bi-linkedin"></i></a></li>
                        <li class="list-inline-item mx-1 w-auto fs-12"><a aria-label="link" href="https://x.com/aller_sen"><i class="list-inline-social-icon bi bi-twitter-x"></i></a></li>
                        <li class="list-inline-item mx-1 w-auto fs-12"><a aria-label="link" href="https://github.com/bin0520"><i class="list-inline-social-icon bi bi-github"></i></a></li>
                    </ul>
                    <!--End Socials-->
                </div>
                <ul class="navbar-nav navbar-nav-menu flex-wrap text-start " id="sidebar-nav">
                    <li>
                        <a aria-label="link" class="nav-link" href="index.html" data-page="index"><i class="bi bi-person-plus me-2"></i>About Me</a>
                    </li>
                    <li>
                        <a aria-label="link" class="nav-link" href="portfolio.html" data-page="portfolio"><i class="bi bi-ui-radios-grid me-2"></i>Portfolio <span class="badge float-end">10</span></a>
                    </li>
                    <li>
                        <a aria-label="link" class="nav-link" href="resume.html" data-page="resume"><i class="bi bi-filetype-pdf me-2"></i>Resume</a>
                    </li>
                    <li>
                        <a aria-label="link" class="nav-link" href="contact.html" data-page="contact"><i class="bi bi-geo-alt me-2"></i>Contact</a>
                    </li>
                    <li>
                        <a aria-label="link" class="nav-link" href="blog.html" data-page="blog"><i class="bi bi-sticky me-2"></i>Writings</a>
                    </li>
                </ul>
                <!-- End navigation -->
            </div>
        </div>
    </div>
    <!-- End Header -->
</div>

