<section class="section pt-0 overflow-hidden">
    <div class="bg-primary py-3">
        <!--Section Brands-->
        <div class="ltr">
            <div class="marque-container overflow-hidden d-flex flex-row style-black">
                <div class="marque overflow-hidden d-flex flex-row align-items-center" style="animation: kf-marque 50s linear 0s  infinite;">
                    <div class="marque-content d-flex align-items-center overflow-hidden">
                        <div class="col py-1">
                            <h4 class="m-0 text-uppercase">UI/UX Research</h4>
                        </div>
                        <div class="col py-1">
                            <h4 class="m-0 text-uppercase">Web Development</h4>
                        </div>
                        <div class="col py-1">
                            <h4 class="m-0 text-uppercase">Data Analysis</h4>
                        </div>
                        <div class="col py-1">
                            <h4 class="m-0 text-uppercase">UI/UX Design</h4>
                        </div>
                        <div class="col py-1">
                            <h4 class="m-0 text-uppercase">Data Analysis</h4>
                        </div>
                        <div class="col py-1">
                            <h4 class="m-0 text-uppercase">UI/UX Research</h4>
                        </div>
                        <div class="col py-1">
                            <h4 class="m-0 text-uppercase">Python</h4>
                        </div>
                        <div class="col py-1">
                            <h4 class="m-0 text-uppercase">Photographer</h4>
                        </div>
                        <div class="col py-1">
                            <h4 class="m-0 text-uppercase">UI/UX Research</h4>
                        </div>
                    </div>
                </div>
                <div class="marque overflow-hidden d-flex flex-row align-items-center" style="animation: kf-marque 50s linear 0s  infinite;">
                    <div class="marque-content d-flex align-items-center overflow-hidden">
                        <div class="col py-1">
                            <h4 class="m-0 text-uppercase">Python</h4>
                        </div>
                        <div class="col py-1">
                            <h4 class="m-0 text-uppercase">Web Development</h4>
                        </div>
                        <div class="col py-1">
                            <h4 class="m-0 text-uppercase">User Interview</h4>
                        </div>
                        <div class="col py-1">
                            <h4 class="m-0 text-uppercase">UI/UX Design</h4>
                        </div>
                        <div class="col py-1">
                            <h4 class="m-0 text-uppercase">Mixed Method Research</h4>
                        </div>
                        <div class="col py-1">
                            <h4 class="m-0 text-uppercase">Programing</h4>
                        </div>
                        <div class="col py-1">
                            <h4 class="m-0 text-uppercase">Survey Design</h4>
                        </div>
                        <div class="col py-1">
                            <h4 class="m-0 text-uppercase">Photographer</h4>
                        </div>
                        <div class="col py-1">
                            <h4 class="m-0 text-uppercase">UI/UX Research</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="rtl">
            <div class="marque-container overflow-hidden d-flex flex-row style-black">
                <div class="marque overflow-hidden d-flex flex-row align-items-center" style="animation: kf-marque-rtl 50s linear 0s  infinite;">
                    <div class="marque-content d-flex align-items-center overflow-hidden">
                        <div class="col py-1">
                            <h4 class="m-0 text-uppercase">UX Research</h4>
                        </div>
                        <div class="col py-1">
                            <h4 class="m-0 text-uppercase">Web Development</h4>
                        </div>
                        <div class="col py-1">
                            <h4 class="m-0 text-uppercase">DATA Analysis</h4>
                        </div>
                        <div class="col py-1">
                            <h4 class="m-0 text-uppercase">UI/UX Design</h4>
                        </div>
                        <div class="col py-1">
                            <h4 class="m-0 text-uppercase">Best Quality</h4>
                        </div>
                        <div class="col py-1">
                            <h4 class="m-0 text-uppercase">Programing</h4>
                        </div>
                        <div class="col py-1">
                            <h4 class="m-0 text-uppercase">Best Quality</h4>
                        </div>
                        <div class="col py-1">
                            <h4 class="m-0 text-uppercase">Photographer</h4>
                        </div>
                        <div class="col py-1">
                            <h4 class="m-0 text-uppercase">Best Quality</h4>
                        </div>
                    </div>
                </div>
                <div class="marque overflow-hidden d-flex flex-row align-items-center" style="animation: kf-marque-rtl 50s linear 0s  infinite;">
                    <div class="marque-content d-flex align-items-center overflow-hidden">
                        <div class="col py-1">
                            <h4 class="m-0 text-uppercase">Best Quality</h4>
                        </div>
                        <div class="col py-1">
                            <h4 class="m-0 text-uppercase">Web Development</h4>
                        </div>
                        <div class="col py-1">
                            <h4 class="m-0 text-uppercase">Best Quality</h4>
                        </div>
                        <div class="col py-1">
                            <h4 class="m-0 text-uppercase">UI/UX Design</h4>
                        </div>
                        <div class="col py-1">
                            <h4 class="m-0 text-uppercase">Best Quality</h4>
                        </div>
                        <div class="col py-1">
                            <h4 class="m-0 text-uppercase">Programing</h4>
                        </div>
                        <div class="col py-1">
                            <h4 class="m-0 text-uppercase">Best Quality</h4>
                        </div>
                        <div class="col py-1">
                            <h4 class="m-0 text-uppercase">Photographer</h4>
                        </div>
                        <div class="col py-1">
                            <h4 class="m-0 text-uppercase">Best Quality</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-light py-3">
        <!--Section Brands-->
        <div class="ltr">
            <div class="marque-container overflow-hidden d-flex flex-row style-black">
                <div class="marque overflow-hidden d-flex flex-row align-items-center" style="animation: kf-marque-reveser 50s linear 0s  infinite;">
                    <div class="marque-content d-flex align-items-center overflow-hidden">
                        <div class="col py-1">
                            <h4 class="m-0 text-uppercase">Web Development</h4>
                        </div>
                        <div class="col py-1">
                            <h4 class="m-0 text-uppercase">Best Quality</h4>
                        </div>
                        <div class="col py-1">
                            <h4 class="m-0 text-uppercase">UI/UX Design</h4>
                        </div>
                        <div class="col py-1">
                            <h4 class="m-0 text-uppercase">Best Quality</h4>
                        </div>
                        <div class="col py-1">
                            <h4 class="m-0 text-uppercase">Programing</h4>
                        </div>
                        <div class="col py-1">
                            <h4 class="m-0 text-uppercase">Best Quality</h4>
                        </div>
                        <div class="col py-1">
                            <h4 class="m-0 text-uppercase">Photographer</h4>
                        </div>
                        <div class="col py-1">
                            <h4 class="m-0 text-uppercase">Best Quality</h4>
                        </div>
                    </div>
                </div>
                <div class="marque overflow-hidden d-flex flex-row align-items-center" style="animation: kf-marque-reveser 50s linear 0s  infinite;">
                    <div class="marque-content d-flex align-items-center overflow-hidden">
                        <div class="col py-1">
                            <h4 class="m-0 text-uppercase">Web Development</h4>
                        </div>
                        <div class="col py-1">
                            <h4 class="m-0 text-uppercase">Best Quality</h4>
                        </div>
                        <div class="col py-1">
                            <h4 class="m-0 text-uppercase">UI/UX Design</h4>
                        </div>
                        <div class="col py-1">
                            <h4 class="m-0 text-uppercase">Best Quality</h4>
                        </div>
                        <div class="col py-1">
                            <h4 class="m-0 text-uppercase">Programing</h4>
                        </div>
                        <div class="col py-1">
                            <h4 class="m-0 text-uppercase">Best Quality</h4>
                        </div>
                        <div class="col py-1">
                            <h4 class="m-0 text-uppercase">Photographer</h4>
                        </div>
                        <div class="col py-1">
                            <h4 class="m-0 text-uppercase">Best Quality</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="rtl">
            <div class="marque-container overflow-hidden d-flex flex-row style-black">
                <div class="marque overflow-hidden d-flex flex-row align-items-center" style="animation: kf-marque-reveser-rtl 50s linear 0s  infinite;">
                    <div class="marque-content d-flex align-items-center overflow-hidden">
                        <div class="col py-1">
                            <h4 class="m-0 text-uppercase">Web Development</h4>
                        </div>
                        <div class="col py-1">
                            <h4 class="m-0 text-uppercase">Best Quality</h4>
                        </div>
                        <div class="col py-1">
                            <h4 class="m-0 text-uppercase">UI/UX Design</h4>
                        </div>
                        <div class="col py-1">
                            <h4 class="m-0 text-uppercase">Best Quality</h4>
                        </div>
                        <div class="col py-1">
                            <h4 class="m-0 text-uppercase">Programing</h4>
                        </div>
                        <div class="col py-1">
                            <h4 class="m-0 text-uppercase">Best Quality</h4>
                        </div>
                        <div class="col py-1">
                            <h4 class="m-0 text-uppercase">Photographer</h4>
                        </div>
                        <div class="col py-1">
                            <h4 class="m-0 text-uppercase">Best Quality</h4>
                        </div>
                    </div>
                </div>
                <div class="marque overflow-hidden d-flex flex-row align-items-center" style="animation: kf-marque-reveser-rtl 50s linear 0s  infinite;">
                    <div class="marque-content d-flex align-items-center overflow-hidden">
                        <div class="col py-1">
                            <h4 class="m-0 text-uppercase">Web Development</h4>
                        </div>
                        <div class="col py-1">
                            <h4 class="m-0 text-uppercase">Best Quality</h4>
                        </div>
                        <div class="col py-1">
                            <h4 class="m-0 text-uppercase">UI/UX Design</h4>
                        </div>
                        <div class="col py-1">
                            <h4 class="m-0 text-uppercase">Best Quality</h4>
                        </div>
                        <div class="col py-1">
                            <h4 class="m-0 text-uppercase">Programing</h4>
                        </div>
                        <div class="col py-1">
                            <h4 class="m-0 text-uppercase">Best Quality</h4>
                        </div>
                        <div class="col py-1">
                            <h4 class="m-0 text-uppercase">Photographer</h4>
                        </div>
                        <div class="col py-1">
                            <h4 class="m-0 text-uppercase">Best Quality</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

